.dropdown-item:hover{
    background-color: rgb(3, 170, 3); 
}
.modal-body{
    background-color: rgb(3, 41, 3);
    
}
.px3{
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
    border: 2px solid #979797;
  }
  .date{
      
      padding-left: 3.1rem !important ;
      padding-right: 3.1rem !important;
  }
.my-select{
    border: none;
    background-color: rgb(253, 252, 252);
}
.my-input{
    border: none;
    background-color:  rgb(253, 252, 252);
}

    .thumbnail {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
      }
.thumbnail > img {
    /* background: transparent url(https://fiverr-res.cloudinary.com/app_assets/fiverr_logo_loader.svg) no-repeat 50%;
      background-color: transparent;
      background-image: url("https://fiverr-res.cloudinary.com/app_assets/fiverr_logo_loader.svg"); */
      /* background-size: auto; */
    /* background-size: 80px; */
    max-width: 100%;
    max-height: 100%;
    width: 80% !important;
    height: 80% !important;
    min-width: 140px;
    min-height: 140px;
    
    /* -o-object-fit: contain;
    object-fit: contain; */
  }

  @keyframes imageSlide {
    0%   {background-image: url('../img/mainPageSliderImage1.webp');}
    25%  {background-image: url('../img/mainPageSliderImage2.webp');}
    50%  {background-image: url('../img/mainPageSliderImage3.webp');}
    100% {background-image: url('../img/mainPageSliderImage2.webp');}
  }
  .mainSlider{
      background-size: cover;
      background-repeat: no-repeat;
      animation-name: imageSlide;
      animation-duration: 10s;
      animation-iteration-count: infinite;
  }
  

  @media screen and (max-width: 575px) {
    .homeSearchButton{
        width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    .w100{
      width: 100%;
    }
  }

  .skilItem{
    text-decoration: none;
     border: 1px solid rgb(202, 202, 202); 
     border-radius: 20px; 
     padding: 8px; 
     color: black; 
     margin: 5px;
  }