*{
  color: black;
}


body{
  margin: 0;
  padding: 0;
}


header{
    background-color: aqua;
    position: sticky;
    top: 0px;
    z-index: 20000;
}
header div{
  width: 40%;
  margin: auto;
}
footer{
    background-color: blue;
    grid-area: footer;
    padding: 15px;
    position: sticky;
    bottom: 0;
    color: white;
    text-align: center;

}
main{
    height: 100%;
}
header ul li a {
  color: white;
  text-decoration: none;
}
header ul li:hover {
  background-color: yellow;
}
li{
    list-style: none;
    margin: 10px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px; 
    font-size: 25px; 
}
header div{
    display: flex;
    justify-content: center;
}
header div ul{
  display: flex;
 justify-content: center;
}
.main-body ul{
  display: flex;
 justify-content: center;
}

li:hover {
  background-color: yellow;
  color: white;
}

h2, h1{
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #number{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    margin: auto;
  }





  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }







  