body{
    background-color: black;
}
.main-div{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.outer-div{
    height: 400px;
    width: 300px;
    position: relative;
    background-color: blue;
}
.inner-div{
    height: 400px;
    width: 200px;
    margin-left: 100px;
    position: absolute;
    background-color: green;
}
 .core-div{
    height: 400px;
    width: 100px;
    margin-left: 100px;  
    position: relative;
    background-color: greenyellow;
} 
.my-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25px;
    width: 250px;
    background-color: black;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    text-align: right;
}