body{
    background-image: url(image/1.jpg);
}
/* div{
    border: 10px greenyellow;
} */
p{
    background-color: rgb(196, 196, 241);
    color: red;
    text-align: justify;
    
}
.main-div{
    display: flex;
    justify-content: center;
}
.box1{
    height: 300px;
    width: 300px;
    border: 10px saddlebrown;
    
    border: 20px solid white;
    
}
h1{
    text-align: center;
    color: white;
}
.box2{
    margin-left: 35px;
    height: 200px;
    width: 200px;
    border: 10px rgb(19, 139, 69);
    border: 20px solid rgb(221, 13, 13);
}
.box3{
    background-color: aqua;
    position: relative;
    height: 50px;
   margin-top: 100px;
    width: 400px;
}
.box4{
    background-color: rgb(5, 102, 5);
    position: absolute;
    margin-top: -50px;
    margin-left: 175px;
    height: 400px;
    width: 50px;
}

.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 200px;
    border: 3px solid #73AD21;
  }

  .relative {
    position: relative;
    width: 100px;
    height: 200px;
    border: 3px solid #73AD21;
  } 